<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Локальный сайт управления</title>
</head>
<body>
<h1>Локальный сайт управления</h1>
<a href="{{ url_for('index') }}">Home page</a>
</br>
</br>
<a href="{{ url_for('uprdor') }}">Сайт управления</a>
</br></br>
<a href="{{ url_for('rosavtodor') }}">Сайт Росавтодора</a>
</br></br>
<a href="{{ url_for('yandex') }}">Яндекс</a>
</br></br>
<a href="{{ url_for('asmo') }}">АСМО</a>
</br></br>
<a href="{{ url_for('sedd') }}">СЭДД WEB</a>
</br></br>
<a href="{{ url_for('risad_new') }}">БМ РСД (РИСАД — Новый)</a>
</br></br>
<a href="{{ url_for('risad') }}">БМ РСД (РИСАД)</a>
</br></br>
<a href="{{ url_for('roadsoft') }}">Roadsoft</a>
</br></br>
<a href="{{ url_for('som_tesad') }}"> SOM TESAD</a>
</br></br>
<a href="{{ url_for('etalon') }}">Эталон (Локальный)</a>
</br></br>
<a href="{{ url_for('etalon_web') }}">Эталон WEB (Локальный)</a>
</br></br>
<a href="{{ url_for('abdd') }}">АБДД</a>
</br></br>
<a href="{{ url_for('uspd') }}">АИС УСПД</a>
</br></br>
<a href="{{ url_for('web_mail') }}">WEB Почта</a>
</br></br>
<a href="{{ url_for('docs') }}">Документооборот</a>
</br></br>
<a href="{{ url_for('ugiz') }}">УГИЗ</a>

</body>
</html>